
@model MyPlace.Models.Catalog.EstablishmentIndexModel

<h2>@Model.Title</h2>

<div class="form-group">
    <form asp-controller="Catalog" asp-action="Create" asp-route-id="@Model.Id">
        <textarea asp-for="NewPost" class="form-control" placeholder="Add comment!"></textarea>
        <span asp-validation-for="NewPost" class="text-danger"></span>
        <input type="submit" value="Add comment" class="btn btn-default" />
    </form>
</div>

<section id="app" class="comments">

    @foreach (var comment in Model.Comments)
    {
        <article>
            <h4><a href="#">chrisburton</a></h4>
            <time>Created On: @comment.CreatedOn</time>
            <like></like>
            <h6>
                @comment.Content
            </h6>
        </article>
    }

</section>


