.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.card-header {
    padding: 0;
}

.collapsible-panel {
    padding: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.collapsible-header {
    cursor: pointer;
}

.collapsible-header button {
    font-weight: bold;
}

.collapsible-header.collapsed button {
    font-weight: normal;
}

.icon {
    vertical-align: middle;
    font-size: 1.4rem;
}

.status-icon {
   height: 1.4rem;
}