
    <ul class="navbar-nav mr-auto right-side">
        <li class="nav-item">
            <a class="nav-link nav-link-white" asp-area="" asp-controller="Catalog" asp-action="Index"><i class="fa fa-home"></i> Home</a>
        </li>
    </ul>

